<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Scanbook</title>

  
  <link rel="stylesheet" href="css/foundation.css" />
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body ng-app>
	<script src="js/angular/RegistrationCtrl.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	

	<div class="row">
		<div class="large-12 columns">
			<h2>Welcome to Scanbook</h2>
			<p>This is version 4.2.2.</p>
			<hr />
		</div>
	</div>

	<div class="row">
		
		<div class="large-8 columns">
			
			<div class="row" style="display:none">

				<h3>Login</h3>

				<div class="large-6 columns">
					
			        <input type="text" size="30" placeholder="Name">
			        <input type="password" name="pass" value="" placeholder="Password">
			        <p><a href="#" class="success button">Log in</a>
			        	<a href="#" class="medium button">Register</a></p>
			   		
				</div>
				
			</div>
		
			

			<div class="row" style="display:non" ng-controller="RegistrationCtrl">
				
				<form class="custom">
				<h3>Registration</h3>

				<div class="large-10 columns">
					<div class="row">
						<div class="large-4 columns">
							<p>Email</p>
						</div>

						<div class="large-6 columns">
			
					        <input type="text" ng-model="registration.username" >
				    
						</div>
	
					</div>

					<div class="row">
						<div class="large-4 columns">
							<p>Password</p>
						</div>

						<div class="large-6 columns">
							<input type="password" placeholder="" ng-model="registration.password">
						</div>

					</div>
					
					<div class="row">
						<div class="large-4 columns">
							<p>Repeat Password</p>
						</div>

						<div class="large-6 columns">
							
							<input type="password" name="pass2" placeholder="" ng-model="registration.password_again" class="error">
					    
						</div>

					</div>
					
					<div class="row">
						<div class="large-4 columns">
								<p>Age</p>
						</div>

						<div class="large-6 columns">
							<input type="text" placeholder="" ng-model="registration.age">
						</div>

					</div>
					
					<div class="row">
						<div class="large-4 columns">
								<p>Size of Penis</p>
						</div>

						<div class="large-6 columns">
							
							<div class="row collapse">
						        <div class="large-8 columns">
						          <input type="text" placeholder="" ng-model="registration.size_of_penis" class="error">
						        </div>
						        <div class="large-4  columns">
						          <select>
						            <option>cm</option>
						            <option>inches</option>
						            <option>m</option>
						            <option>ly</option>
						          </select>
						        </div>
						      </div>
							<small style="display:none" class="error">Your penis is too small!</small>
						</div>

					</div>

					<div class="row">
						<div class="large-4 columns">
								<p>Sex</p>
						</div>

						<div class="large-6 columns">
							<select id="customDropdown" class="small">
							<option>Male</option>
						    <option>Female</option>
						    <option>Not sure</option>
						</select>
						</div>
					


					</div>
					
					<div class="row">
					 <p><a href="#" class="success button" ng-click="register()">Register</a></p>
					</div>
				</div>
				</form>
			</div>	
		

		</div>		

		<div class="large-4 columns">
			<h4>Getting Started</h4>
			<p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

			<h4>Other Resources</h4>
			<p>Once you've exhausted the fun in this document, you should check out:</p>
			<ul class="disc">
				<li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
				<li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
				<li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
			</ul>
		</div>
	</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
